:root {
  /* Colors */
  --clr-primary: #ffe600;
  --clr-black: #333;
  --clr-grey: #666;
  --clr-grey-light: #999;
  --clr-light: #eee;
  --clr-action: #3483fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

a:visited {
  outline: 1px dotted var(--clr-action);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: var(--clr-light);
  color: var(--clr-black);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.view-wrapper {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;
}

.btn {
  border: none;
  background: var(--clr-action);
  color: #fff;
  font-size: 18px;
  padding: 8px 64px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: #1b6de8;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
